<!DOCTYPE html>
<html>
<head>
    <title>Person and Product</title>
    <meta charset="UTF-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-content">
        <h1>Person and Product</h1>
    </div>
</body>
</html>