@using VewsExample.Models
@model IEnumerable<Person> 
@{
    // method
    double? GetAge(DateTime? dateOfBirth) {
        if (dateOfBirth is not null)
        {
            return Math.Round((DateTime.Now - dateOfBirth.Value).TotalDays / 365.25);
        } else
        {
            return null;
        }
    }
}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["appTitle"]</title>
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="page-content">
            <h2>Hello</h2>

            <h1>Welcome to this Room</h1>
            @foreach(Person person in Model)
            {
                @* <text>Hello to</text> // literal text
                @:Hello to @*literal text*@
             
                <div class="box float-left w-50">
                    <h3>@person.Name</h3>
                    <table class="table w-100">
                        <tr>
                            <td>Gender</td>
                            <td>@person.PersonGender</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>@person.DateOfBirth?.ToString("MM/dd/yyyy")</td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    </body>
</html>