<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/StyleSheet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div>
        <div class="container">
            <div class="navbar">
                <div class="navbar-brand">CRUD Demo</div>
                <ul>
                    <li><a href="/persons/index">Persons</a></li>
                </ul>
            </div>

            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
