@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>
    Donec pretium turpis in nunc viverra ultricies. Ut id lacus at nisl rhoncus interdum eu at dui. 
    Mauris eu mauris elementum, vulputate nisi sed, fringilla velit. Donec porttitor nisi sed lacus sollicitudin, eu dapibus dolor semper. 
    In dignissim, tellus in accumsan blandit, nulla ligula tristique nulla, vel consequat augue massa eget ex. 
    Sed tempus magna eu lacus pellentesque, quis pretium leo semper. Morbi at blandit massa. 
    Maecenas vulputate ligula in nibh scelerisque varius. Curabitur dignissim pellentesque dolor molestie hendrerit. 
    Sed quam augue, ultrices in porttitor ac, porta ut sem. Duis accumsan gravida mauris, nec aliquam leo.
</p>

<vc:grid></vc:grid>

